namespace: cyber-ambassador

application:
  name: backend
  replicaCount: 1

  image:
    repository: finriustech/cyberambassador-backend
    tag: dff67d0
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  envFrom:
    configMapName: cyberambassador
    secretName: cyberambassador

  podSecurityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch

  containerSecurityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true

  resources:
    requests:
      cpu: "250m"
      memory: "256Mi"
    limits:
      cpu: "250m"
      memory: "256Mi"

  initContainer:
    enabled: true
    postgresHost: cyberambassador-postgres
    postgresPort: 5432

  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    cpuUtilization: 70
