namespace: cyber-ambassador

application:
  name: backend
  replicaCount: 1

  image:
    repository: finriustech/cyberambassador-backend
    tag: dff67d0
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  envFrom:
    configMapName: cyberambassador
    secretName: cyberambassador

  podSecurityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch

  containerSecurityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true

  resources:
    requests:
      cpu: "250m"
      memory: "256Mi"
    limits:
      cpu: "250m"
      memory: "256Mi"

  initContainer:
    enabled: true
    postgresHost: cyberambassador-postgres
    postgresPort: 5432

  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    cpuUtilization: 70

config:
  enabled: true
  name: cyberambassador
  data:
    PORT: "3000"
    DB_HOST: "cyberambassador-postgres"
    DB_PORT: "5432"
    DB_NAME: "cyberambassador_db"
    DB_USER: "cyberambassador_user"
    MAIL_HOST: "smtp.hostinger.com"
    MAIL_PORT: "465"
    MAIL_USER: "noreply@cyberambassador.co.in"
    MAIL_FROM: "noreply@cyberambassador.co.in"
    BACKEND_URL: "https://api.cyberambassador.co.in"


database:
  enabled: true
  name: cyberambassador-postgres
  replicas: 1

  image:
    repository: postgres
    tag: 16-bookworm
    pullPolicy: IfNotPresent

  service:
    port: 5432
    headlessName: cyberambassador-postgres-headless

  persistence:
    storageClass: standard-rwo
    size: 1Gi
    accessMode: ReadWriteOnce

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "250m"
      memory: "512Mi"

  securityContext:
    fsGroup: 999
    runAsUser: 999
    runAsGroup: 999

  env:
    configMapName: cyberambassador
    secretName: cyberambassador
    dbNameKey: DB_NAME
    dbUserKey: DB_USER
    dbPasswordKey: DB_PASS

